In [1]:
import pandas as pd

# Real Estate - realtor.com
Acknowledgement Maede Maftouni of Kaggle. Link as follow https://www.kaggle.com/maedemaftouni/us-real-estate-market-trends-visualization

## 1.1 Read Real Estate Inventory

In [2]:
df_RE = pd.read_csv('https://econdata.s3-us-west-2.amazonaws.com/Reports/Core/RDC_Inventory_Core_Metrics_County_History.csv')
df_RE.tail(5)

C:\Users\Pc\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,1,37,38) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,month_date_yyyymm,county_fips,county_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
207509,201607,18105,"monroe, in",205000.0,NaN,NaN,816.0,NaN,NaN,72.0,...,289096.0,NaN,NaN,853.0,NaN,NaN,0.0466,NaN,NaN,NaN
207510,201607,45031,"darlington, sc",139900.0,NaN,NaN,262.0,NaN,NaN,99.0,...,171710.0,NaN,NaN,265.0,NaN,NaN,0.0115,NaN,NaN,NaN
207511,201607,37131,"northampton, nc",189900.0,NaN,NaN,94.0,NaN,NaN,143.0,...,279266.0,NaN,NaN,94.0,NaN,NaN,0.0106,NaN,NaN,NaN
207512,201607,29213,"taney, mo",149900.0,NaN,NaN,908.0,NaN,NaN,118.0,...,202261.0,NaN,NaN,917.0,NaN,NaN,0.0110,NaN,NaN,NaN
207513,quality_flag = 1: year-over-year figures may ...,please contact economics@realtor.com for more...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# The last row is a note and was dropped
df_RE.drop(df_RE.tail(1).index, inplace=True)

In [4]:
df_RE.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207513 entries, 0 to 207512
Data columns (total 40 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   month_date_yyyymm                        207513 non-null  object
 1   county_fips                              207513 non-null  object
 2   county_name                              207513 non-null  object
 3   median_listing_price                     207483 non-null  float64
 4   median_listing_price_mm                  170228 non-null  float64
 5   median_listing_price_yy                  169415 non-null  float64
 6   active_listing_count                     207483 non-null  float64
 7   active_listing_count_mm                  170154 non-null  float64
 8   active_listing_count_yy                  169293 non-null  float64
 9   median_days_on_market                    207513 non-null  float64
 10  median_days_on_market_mm                 170249 non-null  float64
 11  median_days_on_market_yy                 169434 non-null  float64
 12  new_listing_count                        207486 non-null  float64
 13  new_listing_count_mm                     145713 non-null  float64
 14  new_listing_count_yy                     145090 non-null  float64
 15  price_increased_count                    207486 non-null  float64
 16  price_increased_count_mm                 47857 non-null   float64
 17  price_increased_count_yy                 48261 non-null   float64
 18  price_reduced_count                      207486 non-null  float64
 19  price_reduced_count_mm                   133400 non-null  float64
 20  price_reduced_count_yy                   136496 non-null  float64
 21  pending_listing_count                    186128 non-null  float64
 22  pending_listing_count_mm                 151358 non-null  float64
 23  pending_listing_count_yy                 143288 non-null  float64
 24  median_listing_price_per_square_foot     207039 non-null  float64
 25  median_listing_price_per_square_foot_mm  169929 non-null  float64
 26  median_listing_price_per_square_foot_yy  168916 non-null  float64
 27  median_square_feet                       207039 non-null  float64
 28  median_square_feet_mm                    169929 non-null  float64
 29  median_square_feet_yy                    168916 non-null  float64
 30  average_listing_price                    207483 non-null  float64
 31  average_listing_price_mm                 170228 non-null  float64
 32  average_listing_price_yy                 169415 non-null  float64
 33  total_listing_count                      207486 non-null  float64
 34  total_listing_count_mm                   170260 non-null  float64
 35  total_listing_count_yy                   169398 non-null  float64
 36  pending_ratio                            186124 non-null  float64
 37  pending_ratio_mm                         152742 non-null  object
 38  pending_ratio_yy                         145775 non-null  object
 39  quality_flag                             170563 non-null  float64
dtypes: float64(35), object(5)
memory usage: 64.9+ MB

In [5]:
# The dates needs to be formatted to month, dates, and years.
change = {'month_date_yyyymm': int} 
df_RE = df_RE.astype(change)

In [6]:
df_RE.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207513 entries, 0 to 207512
Data columns (total 40 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   month_date_yyyymm                        207513 non-null  int32
 1   county_fips                              207513 non-null  object
 2   county_name                              207513 non-null  object
 3   median_listing_price                     207483 non-null  float64
 4   median_listing_price_mm                  170228 non-null  float64
 5   median_listing_price_yy                  169415 non-null  float64
 6   active_listing_count                     207483 non-null  float64
 7   active_listing_count_mm                  170154 non-null  float64
 8   active_listing_count_yy                  169293 non-null  float64
 9   median_days_on_market                    207513 non-null  float64
 10  median_days_on_market_mm                 170249 non-null  float64
 11  median_days_on_market_yy                 169434 non-null  float64
 12  new_listing_count                        207486 non-null  float64
 13  new_listing_count_mm                     145713 non-null  float64
 14  new_listing_count_yy                     145090 non-null  float64
 15  price_increased_count                    207486 non-null  float64
 16  price_increased_count_mm                 47857 non-null   float64
 17  price_increased_count_yy                 48261 non-null   float64
 18  price_reduced_count                      207486 non-null  float64
 19  price_reduced_count_mm                   133400 non-null  float64
 20  price_reduced_count_yy                   136496 non-null  float64
 21  pending_listing_count                    186128 non-null  float64
 22  pending_listing_count_mm                 151358 non-null  float64
 23  pending_listing_count_yy                 143288 non-null  float64
 24  median_listing_price_per_square_foot     207039 non-null  float64
 25  median_listing_price_per_square_foot_mm  169929 non-null  float64
 26  median_listing_price_per_square_foot_yy  168916 non-null  float64
 27  median_square_feet                       207039 non-null  float64
 28  median_square_feet_mm                    169929 non-null  float64
 29  median_square_feet_yy                    168916 non-null  float64
 30  average_listing_price                    207483 non-null  float64
 31  average_listing_price_mm                 170228 non-null  float64
 32  average_listing_price_yy                 169415 non-null  float64
 33  total_listing_count                      207486 non-null  float64
 34  total_listing_count_mm                   170260 non-null  float64
 35  total_listing_count_yy                   169398 non-null  float64
 36  pending_ratio                            186124 non-null  float64
 37  pending_ratio_mm                         152742 non-null  object
 38  pending_ratio_yy                         145775 non-null  object
 39  quality_flag                             170563 non-null  float64
dtypes: float64(35), int32(1), object(4)
memory usage: 64.1+ MB

In [7]:
# Formatting to Date column
df_RE['month_date_yyyymm'] = pd.to_datetime(df_RE['month_date_yyyymm'], format = '%Y%m')
df_RE.rename(columns={'month_date_yyyymm':'date'}, inplace = True)
df_RE.sample(5)

,date,county_fips,county_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
36461,2021-02-01,8013,"boulder, co",930500.0,0.0586,0.4120,384.0,-0.1847,-0.5362,60.0,...,1464335.0,0.0440,0.3059,1067.0,0.0420,-0.3753,1.7813,0.622,0.7148,1.0
134302,2018-06-01,13059,"clarke, ga",239900.0,-0.0105,0.2398,589.0,0.0948,0.0370,52.0,...,317427.0,-0.0085,0.1517,824.0,0.0123,0.1508,0.3956,-0.1118,0.1438,0.0
107960,2019-03-01,19115,"louisa, ia",159143.0,0.1429,0.2731,29.0,0.0000,-0.2927,77.0,...,148718.0,0.0617,0.1103,33.0,-0.0294,-0.2979,0.1379,-0.069,-0.0084,1.0
196285,2016-10-01,19165,"shelby, ia",125000.0,NaN,NaN,57.0,NaN,NaN,120.0,...,148117.0,NaN,NaN,61.0,NaN,NaN,0.0702,NaN,NaN,NaN
41772,2020-12-01,22033,"east baton rouge, la",279950.0,0.0000,0.1667,1371.0,-0.0419,-0.3841,87.0,...,396773.0,0.0161,0.2046,2234.0,-0.0688,-0.2070,0.6295,-0.0407,0.3644,0.0

In [8]:
# Extracting the Year and Month from the date
df_RE['month']= df_RE['date'].dt.month
df_RE['year']= df_RE['date'].dt.year
df_RE.sample(5)

,date,county_fips,county_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag,month,year
104552,2019-04-01,8091,"ouray, co",698500.0,-0.0394,-0.0127,141.0,0.0292,0.0217,143.0,...,-0.0521,155.0,0.0544,0.1071,0.0922,0.0192,0.0777,0.0,4,2019
156292,2017-11-01,42041,"cumberland, pa",229800.0,0.0266,0.0585,890.0,-0.1721,-0.2559,80.0,...,0.0324,906.0,-0.4147,-0.4575,0.0169,-0.4213,-0.3828,1.0,11,2017
140800,2018-04-01,8121,"washington, co",220000.0,0.5172,1.3158,10.0,0.6667,2.3333,18.0,...,1.0401,18.0,0.2857,2.0000,0.8000,-0.5333,-0.2,1.0,4,2018
94179,2019-07-01,41037,"lake, or",169900.0,-0.0286,0.0825,55.0,-0.0179,0.1458,89.0,...,-0.1373,56.0,-0.0345,0.1200,0.0182,0.0003,-0.0027,0.0,7,2019
82644,2019-11-01,48241,"jasper, tx",173000.0,0.0328,0.1733,365.0,-0.0712,0.3931,105.0,...,0.1834,385.0,-0.0700,0.3140,0.0575,0.0066,-0.057,1.0,11,2019

In [9]:
# The county fips needs to fill 5 codes and change object to string
df_RE.rename(columns={'county_fips': 'FIPS'}, inplace=True)
df_RE['FIPS'] = df_RE['FIPS'].astype('str')
df_RE['FIPS'] = df_RE['FIPS'].apply(lambda x: x.zfill(5))

In [10]:
# The county name needs to be separated.
# County should be title case. State should be all caps
df_RE[['county', 'state']] = df_RE.county_name.str.split(',', expand=True)
df_RE['state']= df_RE['state'].str.lstrip().str.upper()
df_RE['county']= df_RE['county'].str.title()
df_RE.sample(5)

,date,FIPS,county_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag,month,year,county,state
207187,2016-07-01,13087,"decatur, ga",139900.0,NaN,NaN,143.0,NaN,NaN,156.0,...,NaN,NaN,0.0070,NaN,NaN,NaN,7,2016,Decatur,GA
119050,2018-11-01,05081,"little river, ar",129000.0,-0.1342,0.3096,24.0,0.0435,-0.3143,79.0,...,0.0435,-0.3143,NaN,NaN,NaN,1.0,11,2018,Little River,AR
141623,2018-04-01,17107,"logan, il",109000.0,0.0000,0.4533,153.0,-0.0129,-0.1730,120.0,...,0.0780,-0.0596,0.4510,0.1284,0.2077,1.0,4,2018,Logan,IL
167333,2017-08-01,26145,"saginaw, mi",119700.0,0.0067,0.0887,831.0,0.0627,-0.2255,53.0,...,0.0670,-0.2103,0.0349,0.0042,0.0153,0.0,8,2017,Saginaw,MI
23199,2021-06-01,38097,"traill, nd",172250.0,0.4366,0.1522,21.0,1.6250,-0.4167,19.0,...,0.5652,-0.2941,0.7619,-1.1131,0.3175,1.0,6,2021,Traill,ND

In [11]:
df_RE.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207513 entries, 0 to 207512
Data columns (total 44 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   date                                     207513 non-null  datetime64[ns]
 1   FIPS                                     207513 non-null  object
 2   county_name                              207513 non-null  object
 3   median_listing_price                     207483 non-null  float64
 4   median_listing_price_mm                  170228 non-null  float64
 5   median_listing_price_yy                  169415 non-null  float64
 6   active_listing_count                     207483 non-null  float64
 7   active_listing_count_mm                  170154 non-null  float64
 8   active_listing_count_yy                  169293 non-null  float64
 9   median_days_on_market                    207513 non-null  float64
 10  median_days_on_market_mm                 170249 non-null  float64
 11  median_days_on_market_yy                 169434 non-null  float64
 12  new_listing_count                        207486 non-null  float64
 13  new_listing_count_mm                     145713 non-null  float64
 14  new_listing_count_yy                     145090 non-null  float64
 15  price_increased_count                    207486 non-null  float64
 16  price_increased_count_mm                 47857 non-null   float64
 17  price_increased_count_yy                 48261 non-null   float64
 18  price_reduced_count                      207486 non-null  float64
 19  price_reduced_count_mm                   133400 non-null  float64
 20  price_reduced_count_yy                   136496 non-null  float64
 21  pending_listing_count                    186128 non-null  float64
 22  pending_listing_count_mm                 151358 non-null  float64
 23  pending_listing_count_yy                 143288 non-null  float64
 24  median_listing_price_per_square_foot     207039 non-null  float64
 25  median_listing_price_per_square_foot_mm  169929 non-null  float64
 26  median_listing_price_per_square_foot_yy  168916 non-null  float64
 27  median_square_feet                       207039 non-null  float64
 28  median_square_feet_mm                    169929 non-null  float64
 29  median_square_feet_yy                    168916 non-null  float64
 30  average_listing_price                    207483 non-null  float64
 31  average_listing_price_mm                 170228 non-null  float64
 32  average_listing_price_yy                 169415 non-null  float64
 33  total_listing_count                      207486 non-null  float64
 34  total_listing_count_mm                   170260 non-null  float64
 35  total_listing_count_yy                   169398 non-null  float64
 36  pending_ratio                            186124 non-null  float64
 37  pending_ratio_mm                         152742 non-null  object
 38  pending_ratio_yy                         145775 non-null  object
 39  quality_flag                             170563 non-null  float64
 40  month                                    207513 non-null  int64
 41  year                                     207513 non-null  int64
 42  county                                   207513 non-null  object
 43  state                                    207513 non-null  object
dtypes: datetime64[ns](1), float64(35), int64(2), object(6)
memory usage: 71.2+ MB

In [12]:
# Sorting records by State, County, and Date in ascending order
df_RE = df_RE.sort_values(by = ['state', 'county', 'date'], ascending = (True, True, True)).reset_index(drop = True)
df_RE.head(5)

,date,FIPS,county_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag,month,year,county,state
0,2016-07-01,02013,"aleutians east, ak",485000.0,NaN,NaN,3.0,NaN,NaN,612.0,...,NaN,NaN,NaN,NaN,NaN,NaN,7,2016,Aleutians East,AK
1,2016-08-01,02013,"aleutians east, ak",485000.0,NaN,NaN,4.0,NaN,NaN,644.0,...,NaN,NaN,NaN,NaN,NaN,NaN,8,2016,Aleutians East,AK
2,2016-09-01,02013,"aleutians east, ak",485000.0,NaN,NaN,4.0,NaN,NaN,665.0,...,NaN,NaN,NaN,NaN,NaN,NaN,9,2016,Aleutians East,AK
3,2016-10-01,02013,"aleutians east, ak",199500.0,NaN,NaN,4.0,NaN,NaN,449.0,...,NaN,NaN,NaN,NaN,NaN,NaN,10,2016,Aleutians East,AK
4,2016-11-01,02013,"aleutians east, ak",485000.0,NaN,NaN,4.0,NaN,NaN,735.0,...,NaN,NaN,NaN,NaN,NaN,NaN,11,2016,Aleutians East,AK

In [14]:
df_RE.to_csv('Real_Estate.csv', index=False)